$color-primary: #eee;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;
$color-background-main: #666;

$font-default: Roboto, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
	sans-serif;
$font-size-default: 1rem;
$font-color-default: #ccc;

$btn-color-green: #32a852;
$btn-color-red: #a83232;
$btn-color-blue: #323ea8;
